<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <tile>Admin Login</tile>
    <style>

    </style>

</head>
<body>
    <div class="admin_login">
        <h2>Admin Login</h2>
    
    <form action ="{{ url_for('admin_login')}}" method="POST">
        <div class="input">
            <label for = "username">Username</label>
            <input type ="text" id ="username" name="username" placeholeder="Enter your username" required>
       </div>
        <div class="input">
            <label for="password">Password:</label>
            <input type="text" id="password" placeholder="Enter your password" required>
        </div> 
        <button class="login_button" type ="submit">Login</button>       
    </form>
    <p>Not a Admin? <a href ="{{url_for('home')}}">Go to home page</a></p>
    </div>
</body>
</html>